.single-comment-container {
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.single-comment-container p {
	margin: 5px 0;
}